@media only screen and (max-width: 375px) {
    body {
        background-image: url("../images/bg-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 50vh;
        background-color: #6648B1;
    }
  }