@import "reset";
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

html {
  height: 100%;
}

body {
  background-image: url("../images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-color: $violet;
  color: $white;
  font-family: "Open Sans", sans-serif;
  cursor: pointer; 
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.logo {
  margin: 3.5rem 0 0 8.5rem;
}

// Main content

.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-img {
  margin: 0 0 0 2.5rem;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 65%;
  margin: 0 0 8rem 2rem;
}

.title {
  font: 600 2.5rem "Poppins", sans-serif;
}

.line-break-desktop::before {
  content: "\a";
  white-space: pre;
}

.text-body {
  line-height: 1.8rem;
  font-size: 1.05rem;
  opacity: 0.8;
}

.register-button {
  border: 1px solid $white;
  border-radius: 30px;
  width: 11.5rem;
  height: 3.3rem;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgba($violet, 0.8);
  font-size: 1.1rem;
}

.register-button:hover {
  background-color: $soft-magenta;
  border: $soft-magenta;
  color: $white;
  cursor: pointer; 
}

// Social icons

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin: 0 4rem 2.5rem 0;
}

.fa {
  padding: 10px;
  height: 2.5rem;
  font-size: 1.3rem;
  width: 2.5rem;
  text-align: center;
  margin-right: 1rem;
  border: 1px solid $white;
  border-radius: 50%;
  background: rgba($violet, 0.8);
  color: $white;
}

.fa:hover {
  border-color: $magenta;
  color: $magenta;
}

@import "media";
